* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: ‘Montserrat’, sans-serif;
    font-weight: light;
    color: #333333;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    
}
main {
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
    @media screen and (min-width:765px) {
        width: 80%;
    }
}

.homepage__intro{
    padding:0 ;
}

.homepage__info{
    padding:0 ;

    @media screen and (min-width:860px) {
        display: flex;
        justify-content: space-between;
    }
}

.homepage__info {
    p {
        padding: 0;
        margin-top:0;
    }

    
    
}

@media screen and (min-width:860px){
    .homepage__info--positioning{
        display: flex;
        flex-direction: column;
        line-height: 1em;
        padding-left: 0;
    }
}



img{
    width: 100%;
    height: auto;

}

section.map {
    display: flex;
    justify-content: center;
}

iframe.map {
    width:100%;
    height: auto;
    
}


